[Unit]
Description=XiaoZhi ESP32 Manager Web Service
Documentation=https://github.com/arniexu/xiaozhi-esp32-server
After=network.target manager-api.service
Wants=network-online.target
Requires=manager-api.service

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/home/xuqianjin/xiaozhi-esp32-server/main/manager-web
ExecStart=/usr/bin/npm run serve
ExecStop=/bin/kill -TERM $MAINPID
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target